# <h1 style="color:red">may 1 thursday basics, variables, comments, data types, built-in functions like print, operations <h1>

In [ ]:
name = "shefrin's class" #
print(name)

shefrin's class

In [ ]:
name = "shefrin"
age = 10
height = 7.9
human = True

In [ ]:
print(name,age,height,human) # simple printing
print('name is',name,'height is',height) # normal printing
print(f'name is {name}\nand\t height is {height}') # format

shefrin 10 7.9 True
name is shefrin height is 7.9
name is shefrin
and	 height is 7.9

In [ ]:
# if you dont know
print( type(age) )

<class 'int'>

In [ ]:
# how to get data from user
n = input('please enter your name:')
print(f'welcome {n}, how are you!')

please enter your name:ali
welcome ali, how are you

In [ ]:
# mathematical operators

In [ ]:
# define variable x and y with some numerical values
# write their sum using s = x+y, d = x-y and lastly print sum is s, difference is d

x=0.444
y=250000
s= x+y
d=x-y
p=x*y
Dd=x/y
print (f'Sum is {s} \n Difference is {d} \n Product is {p} \n Division is {Dd}')

Sum is 250000.444
 Difference is -249999.556
 Product is 111000.0
 Division is 1.776e-06

In [ ]:
10 > 20

False

In [ ]:
temperature = 30.0005
if temperature>30: # next there will be block and the block will have some space
  print('turn on fan')
  print('hello')
else:
  print("turn off fan")

turn on fan